/* сброс стилей по умолчанию */

body{
    font-family: 'Open Sans', sans-serif;
}

* {
    list-style-type: none;
    text-decoration: none;
    color: #1E0606;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

.container{
    max-width: 1180px;
    margin: 0 110px;
}

/* стили для хедера */

.header{
    display: flex;
    margin: 50px 110px 0 110px;
    align-items: center;
    text-transform: uppercase;
    justify-content: space-between;
}

.nav__wrapper{
    display: flex;
    align-items: center;
}

.nav__list{
    display: flex;
    column-gap: 20px;
    margin-left: 60px;
}

.contact{
    display: flex;
    align-items: center;
    column-gap: 23px;
}

/* стили для текста */

h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
}

.italic{
    font-family: 'Crimson Text', serif;
}

.small{
    font-size: 20px;
}

.big{
    font-size: 26px;
}

.bold{
    font-weight: 700;
}

/* стили для футера */

.footer{
    background-color: #434343;
    padding: 100px 110px;
}

.footer__wrapper {
    display: flex;
    column-gap: 20px;
}

.footer__title{
    color: #AAAAAA;
    font-weight: 400;
    font-size: 16px;
}

.footer__line{
    width: 380px;
    height: 1px;
    color: #666666;
    background-color:#666666ed;
    border: none;
    margin-top: 23px;
}

.footer__navigation, .footer__customer_info{
    display: flex;
    flex-direction: column;
}

.footer__navlist, .footer__customer_info_list{
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}


.footer__text{
    color: #FFFFFF;
    font-weight: 400;
}

.footer__form{
    margin-top: 25px;
    display: flex;
}

.footer__form_input{
    width: 299px;
    height: 40px;
    background-color: #666666;
    border: none;
    font-family: 'Open Sans', sans-serif;
}

.footer__form_input::placeholder{
    color: #EBEBEB;
    padding: 9px 0 9px 15px;
    font-family: 'Open Sans', sans-serif;
}

.footer__form_btn{
    color: white;
    background-color: #000000;
    text-transform: uppercase;
    padding: 9px 22px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}

.socials{
    display: flex;
    margin-top: 25px;
    column-gap: 10px;
}

.socials__item{
    background-color: #666666;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.long{
    width: 1180px;
}

.footer__lower_wrapper{
    display: flex;
    margin-top: 23px;
}

.footer__rating{
    display: flex;
    align-items: center;
    column-gap: 25px;
    border: none;
}

.rating_group{
    position: relative;
    width: 77px;
    height: 13px;
    background-image: url(/static/icons/star.svg);
    background-size: 13px auto;
    background-repeat: space;
}

.rating_star{
    position: absolute;
    top: 0;
    left: 0;
    width: 13px;
    height: 13px;
    appearance: none;
    font-size: inherit;
    margin: 0;
    cursor: pointer;
}

.rating_star:nth-of-type(1){
    z-index: 5; 
    width: 15px;   
}

.rating_star:nth-of-type(2){
    z-index: 4; 
    width: 30px;   
}

.rating_star:nth-of-type(3){
    z-index: 3;
    width: 45px;    
}

.rating_star:nth-of-type(4){
    z-index: 2;
    width: 61px;    
}

.rating_star:nth-of-type(5){
    z-index: 1; 
    width: 77px;   
}

.copyright{
    padding-left: 176px;
}

.dl{
    color: #A2A2A2;
    padding-left: 109px;
}