.banner__wrapper{
    background-color: #EEE4DB;
    height: 372px;
    margin-top: 129px;
    display: flex;
    position: relative;
}

.banner__switcher{
    display: flex;
    flex-direction: column;
    padding-left: 28px;
    width: 90px;
}

.banner__number{
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: 200;
    color: rgba(30, 6, 6, 0.05);
    line-height: 74px;
    padding-top: 17px;
}

.banner__stick{
    display: flex;
    flex-direction: column;
    column-gap: 11px;
    padding-left: 3px;
}

.stick-1, .stick-2, .stick-3, .stick-4{
    width: 31px;
    height: 3px;
    border: none;
    cursor: pointer;
}

.stick-1{
    background: rgba(30, 6, 6, 0.6);
}

.stick-2, .stick-3, .stick-4 {
    background: #D6CAC2;
}

.banner__description{
    margin-top: 89px;
    margin-left: 44px;
}

.design{
    margin-top: 20px;
}

.banner__link{
    color: white;
    font-size: 16px;
    background-color: #000;
    padding: 9px 22px;
    margin-top: 20px;
    display: inline-block;
    cursor: pointer;
}

.banner__image{
    width: 635px;
    height: 461px;
    position: absolute;
    bottom: 0;
    left: 445px;
}

.banner__shipping{
    background-color: #C29974;
    display: flex;
    height: 39px;
    align-items: center;
    justify-content: center;
}

.banner__shipping_text{
    color: white;
    text-transform: uppercase;
    font-size: 12px;
}

.popup{
    display: none;
}
